<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{{ producto }}</title>
    </head>

    <body class="grey darken-4 white-text">  
        <div class="card grey darken-2" style="margin-top: 0;">
            <div class="card-image" style="padding-top: 15px;">
                <center>
                    <img src={{ img }} style="width: 300px;">
                </center>
            </div>
            <div class="card-content white-text">
                <span class="card-title center-align">{{ producto }}</span>
            </div>
        </div>
        <table class="centered">
            {% if stock | length > 0 %}
                <thead>
                    <tr>
                        <th>Depósito</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in stock %}
                        <td><h5>{{ s['location_id'][1] }}</h5></td>
                        <td><h5>{{ s['quantity'] }}</h5></td>
                    {% endfor %}
                    <tr>
                        <td><h5><b>Total</b></h5></td>
                        <td><h5>{{ total }}</h5></td>
                    </tr>
                </tbody>
                {% else %}
                <thead>
                    <tr>
                        <th class="red-text">sin stock</th>
                    </tr>
                </thead>
            {% endif %}
        </table>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>
